.board {
    width: 600px;
    height: 600px;
    margin: 0 auto;
}

.square {
    width: 180px;
    height: 180px;
    float: left;
    text-align: center;
    line-height: 180px;
    font-family: 'Futura', 'sans-serif';
    font-size: 10em;
}

.row:nth-child(1) .square:nth-child(1) {
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}

.row:nth-child(1) .square:nth-child(2) {
    border-left: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}

.row:nth-child(1) .square:nth-child(3) {
    border-left: 5px solid black;
    border-bottom: 5px solid black;
}

.row:nth-child(2) .square:nth-child(1) {
    border-top: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}

.row:nth-child(2) .square:nth-child(2) {
    border: 5px solid black;
}

.row:nth-child(2) .square:nth-child(3) {
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-bottom: 5px solid black;
}

.row:nth-child(3) .square:nth-child(1) {
    border-top: 5px solid black;
    border-right: 5px solid black;
}

.row:nth-child(3) .square:nth-child(2) {
    border-left: 5px solid black;
    border-top: 5px solid black;
    border-right: 5px solid black;
}

.row:nth-child(3) .square:nth-child(3) {
    border-left: 5px solid black;
    border-top: 5px solid black;
}
